<mat-progress-bar mode="indeterminate"></mat-progress-bar>
<header>
<nav class="navbar navbar-expand-lg bg bg-warning"  data-bs-theme="dark"> 
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> 
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Espn_deportes.svg/1200px-Espn_deportes.svg.png">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active parrafo1" aria-current="page" routerLink="/users">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link parrafo2" routerLink="/login" >Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet> </router-outlet>